# Series Data Structure

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) ðŸ˜€
</br>
In this notebook, I'm going to talk about Series.
</br>
Happy Learning ðŸ±â€ðŸ

In [1]:
import pandas as pd # Let's import Pandas with pd.

In [2]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [3]:
obj[0]

1

In [4]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [5]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [6]:
obj2["b"]

'John'

In [7]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [9]:
names["Tim"]

95

In [10]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

In [11]:
names["Tom"]=60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

In [12]:
names[names<=80]=83
names

Jane    90
Bill    83
Elon    85
Tom     83
Tim     95
dtype: int64

In [13]:
"Tom" in names

True

In [14]:
"Can" in names

False

In [15]:
names/10

Jane    9.0
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [16]:
names**2

Jane    8100
Bill    6889
Elon    7225
Tom     6889
Tim     9025
dtype: int64

In [17]:
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) ðŸ˜Ž